<div style="position: relative;">
  <button mat-icon-button (click)="agregarEmergencia()" style="position: absolute; top: 8px; right: 8px; z-index: 10;">
    <mat-icon>add</mat-icon>
  </button>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab *ngFor="let emergencia of emergencias; let i = index" [label]="emergencia.tipo">
      <app-emergency-form
        [parentForm]="emergencia.form"
        (tipoChange)="onTipoChange($event, i)">
      </app-emergency-form>
    </mat-tab>
  </mat-tab-group>
</div> 